body{

    margin: 0;
    padding: 0;

    background-color: black;

}


img{


    height: 168px;
    margin-top: 56px;
    margin-right: 56px;
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(95deg) brightness(109%) contrast(101%);
}

.wrapper{

    display: flex;
    
    align-items: flex-start;
}


.primary{

    flex-direction: column;
    margin-top: auto;
    position: absolute;
    bottom: 0;
}



@keyframes bodybg-anim {
  from {
    background-color: #1a2a6c;
  }

  to {
    background-color: #fdbb2d;
  }
}



@keyframes changewidth {
    from {
      transform: scaleX(1);
    }
  
    to {
      transform: scaleX(3);
    }

}


@keyframes changewidth-inverse {
    from {
      transform: scaleX(3);
    }
  
    to {
      transform: scaleX(1);
    }

}


@keyframes changewidth-negative {
    from {
      transform: scaleX(1);
      filter: invert(11%) sepia(39%) saturate(5222%) hue-rotate(225deg) brightness(91%) contrast(92%);
    }
  
    to {
      transform: scaleX(0.5);
      filter: invert(79%) sepia(82%) saturate(826%) hue-rotate(329deg) brightness(97%) contrast(106%);
    }

}



@keyframes changeheight {
    from {
      transform: scaleY(1);
    }
  
    to {
      transform: scaleY(1.5);
    }

}


@keyframes changeheight-negative {
    from {
      transform: scaleY(1);
    }
  
    to {
      transform: scaleY(0.5);
    }

}



.the{


    transform-origin: left;
    animation-duration: 1s;
    animation-name: changewidth-inverse;
    animation-iteration-count:infinite;
    animation-direction:alternate-reverse;
    animation-timing-function:cubic-bezier(0.85, 0.24, 0.44, 0.99);

} 


.only{


    transform-origin: top;
    animation-duration: 1s;
    animation-name: changeheight;
    animation-iteration-count:infinite;
    animation-direction: alternate-reverse;
    animation-timing-function:cubic-bezier(0.85, 0.24, 0.44, 0.99);    


}



.constant{


    transform-origin: bottom;
    animation-duration: 1s;
    animation-name: changeheight-negative;
    animation-iteration-count:infinite;
    animation-direction: alternate-reverse;
    animation-timing-function:cubic-bezier(0.85, 0.24, 0.44, 0.99);

    


}




.is{


    transform-origin: left;
    animation-duration: 1s;
    animation-name: changewidth;
    animation-iteration-count:infinite;
    animation-direction: alternate-reverse;
    animation-timing-function:cubic-bezier(0.85, 0.24, 0.44, 0.99);


}


.change{


    transform-origin: right;
    animation-duration: 1s;
    animation-name: changewidth-negative;
    animation-iteration-count:infinite;
    animation-direction: alternate-reverse;
    animation-timing-function:cubic-bezier(0.85, 0.24, 0.44, 0.99);

}




@media screen and (max-width: 1600px) {



img{

  height: 140px;
  margin-top: 40px;

}

}


@media screen and (max-width: 1230px) {



  img{
  
    height: 120px;
    margin-top: 40px;
    
  
  }


}



@media screen and (max-width: 750px) {


  img{
    height: 40px;
    margin-top: 10px;
    margin-right: 10px;
  }

  .constant{

    height: 38px;
  }

  .primary{

    position: relative;
  }




}